.property_type_frame {
    width: 45.5vw;
    height: 20vh;
    border: 2px solid lightgray;
    margin: 1vw;
}

.property_type_option {
    display: flex;
    justify-content: center;
    margin-top: 1vh;
}

.property_type_frame.selected {
    width: 45.5vw;
    height: 20vh;
    border: 2px solid rgb(49, 159, 228);
    margin: 1vw;
    color: rgb(49, 159, 228);
}

.material-icons {
    display: flex;
    justify-content: center;
    margin-top: 6vh;
}