<div class="steps_frame">
    <div class="each_step_frame">
        <mat-progress-bar
          class="example-margin"
          [color]="color"
          [mode]="mode"
          [value]="value"
          [bufferValue]="bufferValue">
        </mat-progress-bar>
      
        <h6 class="step_number">STEP 1</h6>
        <p class="step_name">Start with the basics</p>
    </div>
    <div class="each_step_frame">
        <div class="line"></div>
        <h6 class="step_number">STEP 2</h6>
        <p class="step_name">Evaluation details</p>
    </div>
    <div class="each_step_frame">
        <div class="line"></div>
        <h6 class="step_number">STEP 3</h6>
        <p class="step_name">Get free valuation</p>
    </div>
</div>
