.steps_frame {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(238, 235, 235);
    height: auto;
    width: 88vw;
    margin: 1vw;
    padding: 3vw;
}

.each_step_frame {
    width: 32%;
    height: auto;
}

.line{
    width: 27vw;
    border-bottom: 5px solid lightgray;
}

.green_line {
    position: absolute;
    width: 5.5vw;
    border-bottom: 5px solid rgb(64, 194, 64);
}

.step_number {
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
}

.step_name {
    margin: 0;
}

.example-margin {
    width: 27vw;
  }
